<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Deteksi TBC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="{{ url_for('static', filename='site.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>

<body id="topPage" data-spy="scroll" data-target="#navbar-scroll" data-offset="60">
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top" id="navbar-scroll">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('index') }}">
                <h4>DETEKSI TBC</h4>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                        <a class="nav-link" href="#about">TENTANG</a>
                        <a class="nav-link" href="#metode">METODE</a>
                        <a class="nav-link" href="#panduan">LANGKAH</a>
                        <a class="nav-link" href="#kontak">KONTAK</a>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main jumbotron -->
    <main role="main">
        <div class="jumbotron text-center">
            <div class="container">
                <div>
                    <h1>Selamat Datang</h1>
                    <p>Untuk memulai deteksi Tuberkulosis dengan X-Ray, silahkan tekan tombol Mulai</p>
                    <p>
                        <a class="btn btn-primary btn-lg" href="{{ url_for('deteksi') }}" role="button">Mulai Deteksi
                            &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
        <div id="about" class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-8" style="text-align: justify;">
                    <h2>Deteksi Tuberkulosis dengan X-Ray</h2><br>
                    <p>Tuberkulosis atau TBC merupakan penyakit menular yang biasanya menyerang paru paru. Penyakit ini
                        yang
                        disebabkan oleh bakteri Mycrobacterium tuberculosis. TB merupakan satu dari 10 penyebab kematian
                        dan
                        penyebab utama agen infeksius. Di tahun 2017, TB menyebabkan sekitar 1,3 juta kematian (rentang,
                        1,2-1,4
                        juta). Menurut WHO Indonesia berada dalam daftar 30 negara dengan beban tbc tertinggi di dunia
                        dan
                        menempati peringkat tertinggi ketiga di dunia terkait angka kejadian tuberkulosis. </p><br>
                    <p>Pemeriksaan dengan rontgen dada merupakan salah satu pemeriksaan diagnosis pada TBC yang umum
                        dilakukan
                        di negara berkembang karena ketersediaannya yang luas dan biayanya yang relatif terjangkau.
                        Website
                        ini
                        menyediakan sebuah sistem untuk mendeteksi penyakit tbc dengan menggunakan citra x-ray. Sistem
                        akan
                        melakukan analisis pada citra x-ray dengan menggunakan metode deep learning. Hasil dari sistem
                        berupa
                        klasifikasi citra x-ray termasuk tbc atau tidak.
                    </p>
                </div>
                <div class="col-sm-4 text-center">
                    <img src="https://medlineplus.gov/images/Tuberculosis.jpg" class="img-fluid img-thumbnail"
                        width="400px" height="500px">
                </div>
            </div>
        </div>

        <div id="metode" class="container-fluid bg-grey">
            <div class="row">
                <div class="col-sm-4 text-center">
                    <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/computer-search-1973000-1668175.png"
                        width="200px" height="200px">
                </div>
                <div class="col-sm-8" style="text-align: justify;">
                    <h4>Convolutional Neural Network</h4>
                    <p>Convolutional Neural Netwrok merupakan salah satu jenis metode Deep Learning dan pengembangan
                        dari Multilayer Perceptron (MLP) yang dirancang untuk mengolah data dalam bentuk dua dimensi.
                        CNN menggunakan masukan berupa gambar, kemudian akan melalui beberapa lapisan yang sudah
                        ditentukan, setiap lapisan ini menghasilkan pola dari beberapa bagian citra yang memudahkan
                        proses klasifikasi. Banyak variasi arsitektur jaringan yang dibangun dari CNN, antara lain
                        Inception, VGGNet, MobileNet, dan Densenet. Dalam klasifikasi X-Ray Website ini menggunakan
                        metode CNN dengan arsitektur Mobilenet yang merupakan sebuah model arsitektur CNN yang didesain
                        efisien dengan 2 set hyper-parameters untuk membangun model yang sangat kecil dan latensi rendah
                        yang akan dengan mudah diimplementasikan sesuai kebutuhan.</p>
                </div>
            </div>
        </div>

        <div id="panduan" class="container-fluid text-center" style="height: 400px;">
            <h2>LANGKAH LANGKAH</h2>
            <img class="img-fluid" src="{{ url_for('static', filename='langkah1.png')}}">
        </div>
        <hr>
        <div id="kontak" class="container-fluid" style="font-size: 18px;">
            <div class="row justify-content-around">
                <div class="col-md-4" style="margin-bottom: 10px;">
                    <h5>INFORMASI</h5>
                    <p>Website ini dibuat untuk membantu Tenaga Medis dalam mendiagnosis pasien tuberkulosis.
                        Selain itu sebagai syarat kelulusan untuk memperoleh gelar Sarjana Komputer.
                    </p>
                </div> <br>
                <div class="col-md-4">
                    <h5>KONTAK</h5>
                    <p>Untuk Informasi lebih lanjut bisa hubungi kontak dibawah </p>
                    
                    <i class="fab fa-linkedin-in align-middle"></i> Dian Lola<br>
                    <i class="fab fa-github align-middle"></i> dianlp
                    
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container-fluid text-center">
            <a href="#topPage" title="To Top">
                <i class="fas fa-chevron-up"></i>
            </a>
            <p>© 2022 Copyright · Deteksi Tuberkulosis Menggunakan Citra X-Ray</p>
        </div>
    </footer>
</body>

</html>